<%- include('../partials/header') %>

<form action="/devskills" method="POST">
  <input type="text" name="devskill">
  <button type="submit">Save Dev-Skill</button>
</form>

<%- include('../partials/footer') %>